.cartBox{
    font-size: 30px;
}

.contents {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 80px;
}

.title{
    min-height: 30px;
    margin: 10px 0 40px;
    text-align: center;
}

.buttonBox{
    /* width: 200px;
  height: 50px;

  background: none;
  border-color: white;
  border-radius: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;d
  line-height: 15px;
  color: white; */
  position: relative;
  padding: 10px 0;
  text-align: center;
} 

.button1{
    /* width: 200px;
    height: 50px;
    color: white;
  
    background: black;
    border-color: black;
    border-radius: 5px;*/
    width: 120px;
    padding-left: 8px;
    padding-right: 8px;
    padding: 10px 16px;
    display: inline-block;
    box-sizing: border-box;
    padding: 2px 8px;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: #333;
} 

.button2{
    /* width: 200px;
  height: 50px; */

  /* background: none; */
  /* border-color: white;
  border-radius: 5px; */
  width: 120px;
  padding-left: 8px;
  padding-right: 8px;
  padding: 10px 16px;
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 8px;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  word-spacing: -0.5px;
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  background-color: #999;
}

.button3{
  /* width: 200px;
  height: 50px;
  border: 1px solid gray;

  background: white;
  border-radius: 5px; */

  float: right;
  text-align: right;
  padding: 10px 16px;

  /* display: inline-block; */
  box-sizing: border-box;
  padding: 2px 8px;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  word-spacing: -0.5px;
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
  color: #333;
  background-color: #fff;
}

.informationUse{
    margin: 20px 0;
    border: 1px solid #ddd;
    line-height: 18px;
}

.inner{
    padding: 0 9px 12px;
    line-height: 18px;
}

ol{
    margin: 15px 0 0 11px;
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    line-height: 18px;
    color: #777;
}

li{
  display: list-item;
  color: #777;
  
}

h4{
    color: #777;
}

h3{
    padding: 9px 0 6px 10px;
    border-bottom: 1px solid #e8e7e7;
    color: #333;
    font-size: 12px;
    background: #fafafa;
    line-height: 18px;
}
