/* .cupwrap{
    margin: 0;
    padding: 0;
    display: block;
}

.cup-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 10px; 
    align-items: center; 
  }
  
  .card {
    border: none;
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    padding: 10px; 
    background-color: #f5f5f5; 
    border-radius: 5px; 
  }
  
  .card img {
    max-width: 100%;
    height: auto; 
  }
  
  .card h4 {
    margin-top: 10px; 
    font-size: 1.2rem; 
  }
  
  .card p {
    margin-top: 5px; 
    font-size: 1rem;
  } */

  .cup {
    align-items: center;
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    border: none;
    width: calc(25% - 20px); /* 4개가 나란히 정렬되도록 25%로 설정 */
    box-sizing: border-box;
    margin: 10px;
    background-color: white;
    text-align: center;
  }
  
  .card img {
    width: 70%;
    height: auto;
  }
  
  .card h4 {
    margin: 5px 0;
    font-size: 1.2rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1rem;
  }
  


 
  