.footer {
  position: relative;
  padding: 80px 0 0 0;
}

.footerInner {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  padding: 40px 0 7px;
}

.innerLayout {
  position: relative;
  margin: 0;
  padding: 0 175px;
  text-align: center;
  color: #000;
  font-size: 12px;
  backface-visibility: hidden;
}
.innerMain {
  margin: 0;
  font-size: 15px;
  line-height: 35px;
  letter-spacing: 0.02em;
  text-align: center;
}

.address {
  padding: 3px 0 5px 0;
  font-size: 13px;
  color: #e5e5e5;
  line-height: 1.8em;
  word-break: keep-all;
}
