body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
}

.wrap,
.maininner {
  margin: 0;
  padding: 0;
  height: 100vh; /* 변경된 부분 */
}

.slider-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  transition: transform 0.5s;
}

.active {
  transform: translateX(0);
}

.main-middle-section-wrap {
 width: 100%;
}
.main-middle-section-wrap-inner {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.main-middle-section-wrap-inner-r {
  width: 50%;
  padding-right: 2px;

}
.main-middle-section-wrap-inner-l-img{
  width: 50%;
  padding-left: 2px;
}
.main-middle-section-wrap-inner-r-img .main-middle-section-wrap-inner-l-img {
  flex-basis: 100%;
  position: relative;
  margin-bottom: 26px;
}