/* .main {
  border-image-width: auto;
  height: 100vh;
  width: 100vw;
  background-image: url("../img/logo/main2.png");
  background-size: cover;
} */
/* 
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
} */




/* #slide1 {
  background-image: url('../img/logo/main2.png');
}

#slide2 {
  background-image: url('../img/slide/slide2.png');
}

#slide3 {
  background-image: url('../img/slide/slide3.png');
}

#slide4 {
  background-image: url('../img/slide/slide4.png');
} */

/* 메인 화면 스타일 */

/* .wrap, .maininner {
  height: 100vh; 
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.slider-container {
  overflow: hidden; 
}

.slider {
  display: flex;
  flex-direction: row; 
  height: 100%;
  transition: transform 0.5s ease;
  width: auto; 
}

.slide {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100vw; 
} */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
}

.wrap,
.maininner {
  margin: 0;
  padding: 0;
  height: 100vh; /* 변경된 부분 */
  overflow: hidden;
}

.slider-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  transition: transform 0.5s;
}

.active {
  transform: translateX(0);
}
