form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  padding: 80px;
  border: 0.05cm solid grey;
}

form > * {
  margin-bottom: 1cm;
}

label {
  font-weight: bold;
  margin-bottom: 0.2cm;
}

button {
  margin-top: 1cm;
  padding: 8px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}
