.Navbar {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  z-index: 300;
  width: 100%;
}

.login-box {
  align-items: center;
  width: 100%;
  margin-left: 10px;
  margin-right: 100px;
}

.Navbar-member {
  align-items: center;
  display: flex;
  font-size: 12px;
  gap: 1rem;
  height: 3.6rem;
  justify-content: right;
  width: 100%;
 
} 

.member {
  color: black;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;

    font-family: 'Zilla Slab', sans-serif;
    font-size: 15px;
    line-height: normal;
    font-weight: 500;
    /* font-style: italic; */
    margin-bottom: -3px;
}

.Navbar-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Logo-right-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
  margin-right: 50px;
}


.Navbar-logo {
  align-items: center;
  display: flex;
  margin-left: auto; /* .Navbar-logo를 오른쪽으로 밀어내고 */
  margin-right: 30rem; /*.Navbar-logo를 왼쪽으로 밀어내어 가운데에 정렬합니다.*/
}

.right-menu {
  display: flex;
  gap: 1.4rem;
}

.Navbar-menu {
  align-items: center;
  justify-content: space-between; /* 여기에 추가합니다. */
  /* padding-top: 1rem; */
  width: 100%;
  border-top: 1px solid black;
  /* margin-left: 0; */
}

.menu-wrap {
  align-items: center;
  display: flex;
  font-weight: 400;
  height: 4rem;
  justify-content: center;
  gap: 100px;
}

li {
  list-style: none;
}

.menu{
  text-decoration: none;
  font-family: 'LeferiBaseRegular', sans-serif;
  color: black;
  line-height: normal;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  

}

@font-face {
  font-family: LeferiBaseRegular;
  src: url('../fonts/LeferiBaseRegular.otf');
}

