/* .top {
  text-align: center;
} */

/* .navbar {
  padding-top: 18px;
  /* position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff; /* 네비게이션 바의 배경색 */
  /* z-index: 1000; 다른 요소 위에 나타나도록 설정
  그 외 스타일 설정  */
/* }  */


/* 
.menu {
  margin: 0 10px;
} */

/* .Navbar {
  padding-bottom: 0;
  border-bottom: 1px solid #000000;
  position: relative;

  text-align: center;
  background-color: #ffffff;
}

.Navbar-inner {
  position: relative;
} */

/* .Navbar-inner-col {
  margin-top: 0 auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  
  padding-left: 15px;
  padding-right: 15px;

  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 74vw;
} */

/* .Logo-wrap {
  color: #508a7d;
  text-decoration: none;
}

.logo {
  height: 72px;
  width: auto;
  max-width: none;
  vertical-align: middle;
}

.Navbar-menu {
  display: inline-block;
  text-align: left;
  float: none;
  margin-left: 0;
}

.menu-wrap {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;

  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.menu {
  position: relative;
  float: left;
  list-style: none;
}

.right-menu {
  float: none;
  margin-right: 0;
}

.right-menu-ui {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;

  list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

    box-sizing: border-box;
}

.right-menu-ui > li {
  position: relative;
  float: left;

  list-style: none;
}

.right-menu .right-menu-ui > a {
  padding: 0;
  margin: 0 10px;
}

.right-menu-ui > li a {
  font-family: Montserrat,sans-serif;
  font-size: 16px;
  font-weight: normal;

  display: inline-block;
  line-height: 1;
      vertical-align: bottom;
    text-decoration: none;
}

.menu-search {
  align-items: center;
  display: flex;
  gap: 1.4rem;
} */

/* .Navbar {
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.07);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 300;
}

.Navbar-member{
  align-items: center;
  display: flex;
  font-size: 12px;
  gap: 1rem;
  height: 2.6rem;
  justify-content: flex-end;
  width: 74vw;
} 

.member {
  color: black;
  font-weight: 600;
  text-decoration: none;

  cursor: pointer;
}

.Navbar-logo {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 74vw;
}

.right-menu {
  align-items: center;
  display: flex;
  gap: 1.4rem;
  justify-content: flex-end;
}

.Navbar-menu {
  padding-top: 1rem;
  width: 74vw;
}

.menu-wrap {
  align-items: center;
  display: flex;
  font-weight: 600;
  height: 4rem;
  justify-content: space-between;
}

div{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */



.Navbar {
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 300;
}

.Navbar-member {
  align-items: center;
  display: flex;
  font-size: 12px;
  gap: 1rem;
  height: 2.6rem;
  justify-content: flex-end;
  width: 74vw;
} 

.member {
  color: black;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.Navbar-content {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.Navbar-logo {
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: center;
}

.right-menu {
  align-items: center;
  display: flex;
  gap: 1.4rem;
}

.Navbar-menu {
  padding-top: 1rem;
  width: 100%;
  border-top: 1px solid #d3d3d3;
}

.menu-wrap {
  align-items: center;
  display: flex;
  font-weight: 600;
  height: 4rem;
  justify-content: space-between;
}

li {
  list-style: none;
}


