.Navbar {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  z-index: 300;
  width: 100%;
}

.Navbar-member {
  align-items: center;
  display: flex;
  font-size: 12px;
  gap: 1rem;
  height: 3.6rem;
  justify-content: flex-end;
  width: 200%;
}

.member {
  color: black;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;

  font-family: "Zilla Slab", sans-serif;
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  /* font-style: italic; */
  margin-bottom: -2px;
}

.Navbar-content {
  align-items: center;
  display: flex;
  gap: 1rem;
  flex-direction: column; /* 요소들을 세로로 정렬합니다. */
  justify-content: center;
  width: 100%;
}

.Navbar-logo {
  flex-grow: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.right-menu {
  align-items: center;
  display: flex;
  gap: 1.4rem;
}

.Navbar-menu {
  align-items: center;
  padding-top: 1rem;
  width: 100%;
  border-top: 1px solid black;
  margin-left: 0;
}

.menu-wrap {
  align-items: center;
  display: flex;
  font-weight: 600;
  height: 4rem;
  justify-content: space-between;
}

li {
  list-style: none;
}

.menu {
  text-decoration: none;
  font-family: "LeferiBaseRegular", sans-serif;
  color: black;
  line-height: normal;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: LeferiBaseRegular;
  src: url("../fonts/LeferiBaseRegular.otf");
}
