/* .search-results-container {
  padding: 20px;
  margin-top: 80px;
} */

/* SearchResults.css */

/* .search-title {
  margin: 80px 0 10px; /* 수정된 부분 */

  .search-results-container {
    margin-top: 250px; /* Navbar의 높이에 따라 조절하세요 */
  }
  
  search-results {
    align-items: center;
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .search-results-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  .search-result-item {
    border: none;
    width: calc(25% - 20px);
    box-sizing: border-box;
    margin: 10px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column; /* 위에서 아래로 정렬되도록 수정 */
  }
  
  .search-result-item img {
    width: 70%;
    height: auto;
    margin-bottom: 10px; /* 이미지와 텍스트 사이에 여백 추가 */
  }
  
  .search-result-item h4 {
    margin: 5px 0;
    font-size: 1.2rem;
  }
  
  .search-result-item p {
    margin: 0;
    font-size: 1rem;
  }